Import Data

In [12]:
# Imports
import pandas as pd
import seaborn as sns
import numpy as np
import warnings
import matplotlib.pyplot as plt
from scipy import stats
from datetime import date

warnings.filterwarnings("ignore")


# Daten werden eingelesen
crimes_dataset = pd.read_csv(r"Crimes_Dataset.csv")
suspects_dataset = pd.read_csv(r"Suspects_Dataset.csv")

Data Exploration

In [13]:
crimes_dataset = crimes_dataset.applymap(lambda x: x.lower() if isinstance(x, str) else x)   # Alle Zeichenfolgen in den DataFrame in Kleinbuchstaben umwandeln
crimes_dataset

,Index_Crimes,Date,Monster involved,Days of Investigation,Region,Crime Type,Crime Weapon,Time of Day,Evidence Found
0,6316,2020-02-18,skeleton,77.0,mountain,nightly disturbance,NaN,night,bones
1,4731,2022-09-01,werewolf,48.0,forest,assault,pistol,night,teeth
2,1750,2022-08-03,ghost,31.0,castle,nightly disturbance,NaN,night,potions
3,4789,2023-10-18,witch,29.0,swamp,arson,pistol,dawn,potions
4,4567,2021-03-25,ghost,59.0,village,nightly disturbance,pistol,night,potions
...,...,...,...,...,...,...,...,...,...
9995,5794,2024-10-30,witch,84.0,village,arson,knife,dusk,potions
9996,5243,2020-02-28,skeleton,41.0,mountain,vandalism,brute force,day,bones
9997,5446,2024-07-23,werewolf,71.0,mountain,assault,knife,dusk,bones
9998,869,2022-03-06,werewolf,55.0,forest,assault,knife,day,bones
9999,7341,2024-05-02,skeleton,41.0,mountain,assault,knife,dusk,bones

In [14]:
suspects_dataset = suspects_dataset.applymap(lambda x: x.lower() if isinstance(x, str) else x)    # Alle Zeichenfolgen in den DataFrame in Kleinbuchstaben umwandeln
suspects_dataset

,Index_Monster,Monster,Criminal record,Age,Gender,Height in cm,Speed Level,Strength Level,Allergy,Favorite Food
0,2101,witch,no,526.0,f,197.0,16.0,1.0,hazelnut,brain
1,9299,zombie,yes,46.0,m,184.0,20.0,7.0,cat hair,humans
2,6824,vampire,no,442.0,m,192.0,21.0,7.0,sunlight,pesto pasta
3,6773,vampire,no,551.0,f,167.0,43.0,6.0,garlic,humans
4,9624,zombie,yes,150.0,f,176.0,17.0,1.0,pumpkin,brain
...,...,...,...,...,...,...,...,...,...,...
9995,4633,skeleton,yes,1836.0,f,152.0,1.0,2.0,silver,rats
9996,6713,werewolf,no,77.0,f,192.0,74.0,4.0,silver,rats
9997,5535,witch,no,484.0,m,175.0,18.0,2.0,garlic,pesto pasta
9998,8635,vampire,no,824.0,f,152.0,31.0,5.0,silver,lasagna
9999,6340,witch,no,442.0,m,189.0,21.0,9.0,pumpkin,lasagna

In [15]:
print(suspects_dataset.isnull().sum())                       #welche Zeilen haben keinen Eintrag
print("___________________________________________")
crimes_dataset.isnull().sum()                               #welche Zeilen haben keinen Eintrag

Index_Monster      0
Monster            0
Criminal record    0
Age                5
Gender             0
Height in cm       0
Speed Level        1
Strength Level     4
Allergy            0
Favorite Food      2
dtype: int64
___________________________________________

Index_Crimes                0
Date                        0
Monster involved            0
Days of Investigation       0
Region                      2
Crime Type                  0
Crime Weapon             2597
Time of Day                 0
Evidence Found              5
dtype: int64

In [16]:
print(suspects_dataset.info())                                                      #welche Zeilen haben Einträge
print("-----------------------------------------------------------------")
print(crimes_dataset.info())                                                       #welche Zeilen haben Einträge

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Index_Monster    10000 non-null  int64
 1   Monster          10000 non-null  object
 2   Criminal record  10000 non-null  object
 3   Age              9995 non-null   float64
 4   Gender           10000 non-null  object
 5   Height in cm     10000 non-null  float64
 6   Speed Level      9999 non-null   float64
 7   Strength Level   9996 non-null   float64
 8   Allergy          10000 non-null  object
 9   Favorite Food    9998 non-null   object
dtypes: float64(4), int64(1), object(5)
memory usage: 781.4+ KB
None
-----------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Index_Crimes           10000 non-null  int64
 1   Date                   10000 non-null  object
 2   Monster involved       10000 non-null  object
 3   Days of Investigation  10000 non-null  float64
 4   Region                 9998 non-null   object
 5   Crime Type             10000 non-null  object
 6   Crime Weapon           7403 non-null   object
 7   Time of Day            10000 non-null  object
 8   Evidence Found         9995 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 703.2+ KB
None

Data cleaning

In [17]:
#search for dublicates
print(crimes_dataset.duplicated().sum(), "\n\n---------------\n\n", suspects_dataset.duplicated().sum())

#if dublicates > 0 --> unvomment following line for drop the dublicate rows
#crime_dataset = crime_dataset.drop_dublicates()
#suspects_dataset = suspects_dataset.drop_duplicates()

0

---------------

 0

In [18]:
#Rename a column

crimes_dataset.rename(columns={
                             "Monster involved":"Monster_involved",
                              "Days of Investigation": "Days_of_Investigation",
                              "Crime Type":"Crime_Type",
                              "Crime Weapon": "Crime_Weapon",
                              "Time of Day": "Time_of_Day",
                              "Evidence Found":"Evidence_Found"
                                }, inplace=True)      #inplace=True da sonst zwei Data frames erstellt werden, so muss der neue Data frame nicht umbenannt und neu eingespeichert werden

suspects_dataset.rename(columns={
    
    "Criminal record":"Criminal_record",
    "Height in cm": "Height_in_cm",
    "Speed Level": "Speed_Level",
    'Strength Level': 'Strength_Level',
    'Favorite Food': 'Favorite_Food'
}, inplace=True)       


print(crimes_dataset.head())

print ("-------------------")

suspects_dataset.head()

#Kontrolle ob umbenannt wurde

   Index_Crimes        Date Monster_involved  Days_of_Investigation    Region  \
0          6316  2020-02-18         skeleton                   77.0  mountain
1          4731  2022-09-01         werewolf                   48.0    forest
2          1750  2022-08-03            ghost                   31.0    castle
3          4789  2023-10-18            witch                   29.0     swamp
4          4567  2021-03-25            ghost                   59.0   village

            Crime_Type Crime_Weapon Time_of_Day Evidence_Found
0  nightly disturbance          NaN       night          bones
1              assault       pistol       night          teeth
2  nightly disturbance          NaN       night        potions
3                arson       pistol        dawn        potions
4  nightly disturbance       pistol       night        potions
-------------------

,Index_Monster,Monster,Criminal_record,Age,Gender,Height_in_cm,Speed_Level,Strength_Level,Allergy,Favorite_Food
0,2101,witch,no,526.0,f,197.0,16.0,1.0,hazelnut,brain
1,9299,zombie,yes,46.0,m,184.0,20.0,7.0,cat hair,humans
2,6824,vampire,no,442.0,m,192.0,21.0,7.0,sunlight,pesto pasta
3,6773,vampire,no,551.0,f,167.0,43.0,6.0,garlic,humans
4,9624,zombie,yes,150.0,f,176.0,17.0,1.0,pumpkin,brain

In [19]:
#converting data types#

print(suspects_dataset.info())                                                     
print("-----------------------------------------------------------------")
print(crimes_dataset.info()) 


crimes_dataset["Date"] = pd.to_datetime(crimes_dataset["Date"], format= "%Y-%m-%d")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Index_Monster    10000 non-null  int64
 1   Monster          10000 non-null  object
 2   Criminal_record  10000 non-null  object
 3   Age              9995 non-null   float64
 4   Gender           10000 non-null  object
 5   Height_in_cm     10000 non-null  float64
 6   Speed_Level      9999 non-null   float64
 7   Strength_Level   9996 non-null   float64
 8   Allergy          10000 non-null  object
 9   Favorite_Food    9998 non-null   object
dtypes: float64(4), int64(1), object(5)
memory usage: 781.4+ KB
None
-----------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Index_Crimes           10000 non-null  int64
 1   Date                   10000 non-null  object
 2   Monster_involved       10000 non-null  object
 3   Days_of_Investigation  10000 non-null  float64
 4   Region                 9998 non-null   object
 5   Crime_Type             10000 non-null  object
 6   Crime_Weapon           7403 non-null   object
 7   Time_of_Day            10000 non-null  object
 8   Evidence_Found         9995 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 703.2+ KB
None

In [20]:
#handling outliers

# Calculate Z-scores for 'crimes_dataset'
z_scores1 = stats.zscore(crimes_dataset['Index_Crimes'])
z_scores2 = stats.zscore(crimes_dataset['Days_of_Investigation'])

#Calculate Z-scores for "suspects_dataset"
z_scores3 = stats.zscore(suspects_dataset['Index_Monster'])
z_scores4 = stats.zscore(suspects_dataset['Age'])
z_scores5 = stats.zscore(suspects_dataset['Height_in_cm'])
z_scores6 = stats.zscore(suspects_dataset['Speed_Level'])
z_scores7 = stats.zscore(suspects_dataset['Strength_Level'])

print(z_scores1)
print(z_scores2)
print(z_scores3)
print(z_scores4)
print(z_scores5)
print(z_scores6)
print(z_scores7)


# Remove outliers
#crimes_dataset_no_outliers = crimes_dataset[(np.abs(z_scores1) < 3)]
#suspects_dataset_no_outliers = suspects_dataset[(np.abs(z_scores) < 3)]
#haben keine Abweichung von über 3

0       0.434137
1      -0.109603
2      -1.132244
3      -0.089705
4      -0.165863
          ...
9995    0.255063
9996    0.066041
9997    0.135680
9998   -1.434473
9999    0.785766
Name: Index_Crimes, Length: 10000, dtype: float64
0       0.956975
1      -0.062186
2      -0.659626
3      -0.729913
4       0.324392
          ...
9995    1.202979
9996   -0.308191
9997    0.746114
9998    0.183818
9999   -0.308191
Name: Days_of_Investigation, Length: 10000, dtype: float64
0      -1.011832
1       1.457464
2       0.608407
3       0.590912
4       1.568956
          ...
9995   -0.143222
9996    0.570329
9997    0.166212
9998    1.229676
9999    0.442370
Name: Index_Monster, Length: 10000, dtype: float64
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
9995   NaN
9996   NaN
9997   NaN
9998   NaN
9999   NaN
Name: Age, Length: 10000, dtype: float64
0       1.555838
1       0.656334
2       1.209875
3      -0.519941
4       0.102793
          ...
9995   -1.557831
9996    1.209875
9997    0.033600
9998   -1.557831
9999    1.002297
Name: Height_in_cm, Length: 10000, dtype: float64
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
9995   NaN
9996   NaN
9997   NaN
9998   NaN
9999   NaN
Name: Speed_Level, Length: 10000, dtype: float64
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
9995   NaN
9996   NaN
9997   NaN
9998   NaN
9999   NaN
Name: Strength_Level, Length: 10000, dtype: float64

!pip install pandas-profiling

import pandas as pd
from ydata_profiling import ProfileReport

df_crimes = pd.read_csv("/content/Crimes_Dataset.csv")
df_suspects = pd.read_csv("/content/Suspects_Dataset.csv")

profile_crimes = ProfileReport(df_crimes, title="Crimes_Dataset")
profile_crimes

![CrimeType](CrimeType.png)

![crimeweapon](crimeweapon.png)

![daysofinvestigation](DaysofInvestigation.png)

![evidencefound](evidencefound.png)

![timeofday](timeofday.png)

![region](Region.png)


profile_suspects = ProfileReport(df_suspects, title="Suspects_Dataset")
profile_suspects

![Monster](Monster.png)

![allergy](allergy.png)

![favoritefood](favoritefood.png)

![strengthlevel](strenghtlevel.png)

In [26]:
# Filterungsprozess für Crimes_Dataset
crimes_evidence = crimes_dataset.dropna(subset=['Evidence_Found'])  # Loescht alle Einträge in Evidence Found, die keinen Eintrag haben
crimes_evidence_day = crimes_evidence[crimes_evidence['Time_of_Day'] == 'day']  # Speichert nur die Werte, in denen in der Kategorie "Time of Day" == 'day' sind

# Behalten nur der Zeilen, in denen die Region "village" ist
crimes_evidence_day_region = crimes_evidence_day[crimes_evidence_day['Region'] == 'village']
crimes_evidence_day_region_weapon = crimes_evidence_day_region[crimes_evidence_day_region['Crime_Weapon'] == 'knife']



# Aenderungen fuer Suspects_Dataset
# Alle Zeichenfolgen in den DataFrame in Kleinbuchstaben umwandeln
suspects_df = suspects_dataset.applymap(lambda x: x.lower() if isinstance(x, str) else x)

# Filterungsprozess fuer Suspects_Dataset
suspects_sunlight_ = suspects_df[~suspects_df.isin(['sunlight']).any(axis=1)]  # Loeschen aller Zeilen, in denen "sunlight" vorkommt